*{
    top: 0%;
    position: relative;
    font-family: 'Imprima', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        154.12deg,
        #d5c5c6 -4.49%,
        #d2c0c0 120.52%
        );   
}

.nev{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    gap: 758px;
    /* border: 1px red solid; */
}

.nev .logo{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #2c2220;
}

.nev-items, .nev-items ul{
    list-style: none;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 57px;
}

.nev-items ul li{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;

    color: #2c2220;
}

.nev-items .nev-btn{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    /* gap: 10px; */
    
    width: auto;
    height: 15px;

    background: #2c2220;
    border-radius: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
}

.hero{
    position: absolute;
    width: 590px;
    height: 113px;
    left: 144px;
    top: 182px;
}

.heading{
    font-family: 'Italiana', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 113px;
    text-transform: capitalize;
    color: #691f0d;
}

.description{
    font-weight: 400;
    font-size: 20px;
    line-height: 129.3%;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    color: #2c2220;
}

.ctc-btn{
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 15px 50px;
    /* gap: 10px; */
    
    width: auto;
}

.footer{
    position: absolute;
    width: 162px;
    height: 26px;
    left: 50px;
    top: 500px;
}
